USE [master]
GO
/****** Object:  Database [EventosDB]    Script Date: 3/25/2026 5:12:27 PM ******/
CREATE DATABASE [EventosDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EventosDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EventosDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EventosDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EventosDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EventosDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EventosDB]
GO
/****** Object:  Table [dbo].[Contacto]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contacto](
	[idContacto] [uniqueidentifier] NOT NULL,
	[valor] [nvarchar](100) NOT NULL,
	[fkTipoContacto] [uniqueidentifier] NOT NULL,
	[fkPersona] [uniqueidentifier] NULL,
	[fkNegocio] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[idContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Evento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Evento](
	[idEvento] [uniqueidentifier] NOT NULL,
	[nombreEvento] [nvarchar](100) NOT NULL,
	[fecha] [date] NOT NULL,
	[horaInicio] [time](7) NOT NULL,
	[horaFin] [time](7) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[fkTipoEvento] [uniqueidentifier] NOT NULL,
	[fkUbicacion] [uniqueidentifier] NOT NULL,
	[fkNegocio] [uniqueidentifier] NULL,
	[ImagenUrl] [nvarchar](max) NULL,
	[fkServicios] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[idEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoRegistrado]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoRegistrado](
	[idEventoRegistrado] [uniqueidentifier] NOT NULL,
	[idEvento] [uniqueidentifier] NOT NULL,
	[idUsuario] [uniqueidentifier] NOT NULL,
	[qr] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEventoRegistrado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_EventoUsuario] UNIQUE NONCLUSTERED 
(
	[idEvento] ASC,
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoServicio]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoServicio](
	[idEventoServicio] [uniqueidentifier] NOT NULL,
	[fkEvento] [uniqueidentifier] NOT NULL,
	[fkServicio] [uniqueidentifier] NOT NULL,
	[cantidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idEventoServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Negocio]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Negocio](
	[idNegocio] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[fkRol] [uniqueidentifier] NULL,
	[ImagenUrl] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[idNegocio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NegocioEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NegocioEvento](
	[idNegocioEvento] [uniqueidentifier] NOT NULL,
	[fkNegocio] [uniqueidentifier] NOT NULL,
	[fkEvento] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idNegocioEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfiles]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfiles](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioCrea] [uniqueidentifier] NULL,
	[UsuarioModifica] [uniqueidentifier] NULL,
 CONSTRAINT [PK_Perfiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerfilesxUsuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerfilesxUsuario](
	[IdUsuario] [uniqueidentifier] NOT NULL,
	[IdPerfil] [int] NOT NULL,
 CONSTRAINT [PK_PerfilesxUsuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdPerfil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[idPersona] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[fkRol] [uniqueidentifier] NOT NULL,
	[estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersona] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonaEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonaEvento](
	[idPersonaEvento] [uniqueidentifier] NOT NULL,
	[fkPersona] [uniqueidentifier] NOT NULL,
	[fkEvento] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPersonaEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RecursoPatrocinador]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RecursoPatrocinador](
	[idRecursoPatrocinador] [uniqueidentifier] NOT NULL,
	[nombreRecurso] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[fkPatrocinador] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRecursoPatrocinador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [uniqueidentifier] NOT NULL,
	[descripcion] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[idServicio] [uniqueidentifier] NOT NULL,
	[nombreServicio] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NOT NULL,
	[costo] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idServicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoContacto]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoContacto](
	[idTipoContacto] [uniqueidentifier] NOT NULL,
	[descripcion] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoEvento](
	[idTipoEvento] [uniqueidentifier] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTipoEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ubicacion]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ubicacion](
	[idUbicacion] [uniqueidentifier] NOT NULL,
	[nombreUbicacion] [nvarchar](100) NOT NULL,
	[direccion] [nvarchar](255) NOT NULL,
	[capacidad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUbicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [uniqueidentifier] NOT NULL,
	[NombreUsuario] [varchar](max) NOT NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[CorreoElectronico] [varchar](max) NOT NULL,
	[FechaCreacion] [datetime] NULL,
	[FechaModificacion] [datetime] NULL,
	[UsuarioCrea] [uniqueidentifier] NULL,
	[UsuarioModifica] [uniqueidentifier] NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Id_Perfil] [int] NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[Contacto] ADD  DEFAULT (newid()) FOR [idContacto]
GO
ALTER TABLE [dbo].[Evento] ADD  DEFAULT (newid()) FOR [idEvento]
GO
ALTER TABLE [dbo].[EventoRegistrado] ADD  DEFAULT (newid()) FOR [idEventoRegistrado]
GO
ALTER TABLE [dbo].[EventoServicio] ADD  DEFAULT (newid()) FOR [idEventoServicio]
GO
ALTER TABLE [dbo].[Negocio] ADD  DEFAULT (newid()) FOR [idNegocio]
GO
ALTER TABLE [dbo].[NegocioEvento] ADD  DEFAULT (newid()) FOR [idNegocioEvento]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT (newid()) FOR [idPersona]
GO
ALTER TABLE [dbo].[Persona] ADD  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[PersonaEvento] ADD  DEFAULT (newid()) FOR [idPersonaEvento]
GO
ALTER TABLE [dbo].[RecursoPatrocinador] ADD  DEFAULT (newid()) FOR [idRecursoPatrocinador]
GO
ALTER TABLE [dbo].[Rol] ADD  DEFAULT (newid()) FOR [idRol]
GO
ALTER TABLE [dbo].[Servicios] ADD  DEFAULT (newid()) FOR [idServicio]
GO
ALTER TABLE [dbo].[TipoContacto] ADD  DEFAULT (newid()) FOR [idTipoContacto]
GO
ALTER TABLE [dbo].[TipoEvento] ADD  DEFAULT (newid()) FOR [idTipoEvento]
GO
ALTER TABLE [dbo].[Ubicacion] ADD  DEFAULT (newid()) FOR [idUbicacion]
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkTipoContacto])
REFERENCES [dbo].[TipoContacto] ([idTipoContacto])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkTipoContacto])
REFERENCES [dbo].[TipoContacto] ([idTipoContacto])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkTipoContacto])
REFERENCES [dbo].[TipoContacto] ([idTipoContacto])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD FOREIGN KEY([fkTipoContacto])
REFERENCES [dbo].[TipoContacto] ([idTipoContacto])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkTipoEvento])
REFERENCES [dbo].[TipoEvento] ([idTipoEvento])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkTipoEvento])
REFERENCES [dbo].[TipoEvento] ([idTipoEvento])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkTipoEvento])
REFERENCES [dbo].[TipoEvento] ([idTipoEvento])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkTipoEvento])
REFERENCES [dbo].[TipoEvento] ([idTipoEvento])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkUbicacion])
REFERENCES [dbo].[Ubicacion] ([idUbicacion])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkUbicacion])
REFERENCES [dbo].[Ubicacion] ([idUbicacion])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkUbicacion])
REFERENCES [dbo].[Ubicacion] ([idUbicacion])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD FOREIGN KEY([fkUbicacion])
REFERENCES [dbo].[Ubicacion] ([idUbicacion])
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Negocio] FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Negocio]
GO
ALTER TABLE [dbo].[Evento]  WITH CHECK ADD  CONSTRAINT [FK_Evento_Servicio] FOREIGN KEY([fkServicios])
REFERENCES [dbo].[Servicios] ([idServicio])
GO
ALTER TABLE [dbo].[Evento] CHECK CONSTRAINT [FK_Evento_Servicio]
GO
ALTER TABLE [dbo].[EventoRegistrado]  WITH CHECK ADD FOREIGN KEY([idEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[EventoRegistrado]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkServicio])
REFERENCES [dbo].[Servicios] ([idServicio])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkServicio])
REFERENCES [dbo].[Servicios] ([idServicio])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkServicio])
REFERENCES [dbo].[Servicios] ([idServicio])
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD FOREIGN KEY([fkServicio])
REFERENCES [dbo].[Servicios] ([idServicio])
GO
ALTER TABLE [dbo].[Negocio]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Negocio]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Negocio]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Negocio]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[NegocioEvento]  WITH CHECK ADD FOREIGN KEY([fkNegocio])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[PerfilesxUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesxUsuario_Perfiles] FOREIGN KEY([IdPerfil])
REFERENCES [dbo].[Perfiles] ([Id])
GO
ALTER TABLE [dbo].[PerfilesxUsuario] CHECK CONSTRAINT [FK_PerfilesxUsuario_Perfiles]
GO
ALTER TABLE [dbo].[PerfilesxUsuario]  WITH CHECK ADD  CONSTRAINT [FK_PerfilesxUsuario_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[PerfilesxUsuario] CHECK CONSTRAINT [FK_PerfilesxUsuario_Usuarios]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD FOREIGN KEY([fkRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkEvento])
REFERENCES [dbo].[Evento] ([idEvento])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[PersonaEvento]  WITH CHECK ADD FOREIGN KEY([fkPersona])
REFERENCES [dbo].[Persona] ([idPersona])
GO
ALTER TABLE [dbo].[RecursoPatrocinador]  WITH CHECK ADD FOREIGN KEY([fkPatrocinador])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[RecursoPatrocinador]  WITH CHECK ADD FOREIGN KEY([fkPatrocinador])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[RecursoPatrocinador]  WITH CHECK ADD FOREIGN KEY([fkPatrocinador])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[RecursoPatrocinador]  WITH CHECK ADD FOREIGN KEY([fkPatrocinador])
REFERENCES [dbo].[Negocio] ([idNegocio])
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD CHECK  (([fkPersona] IS NOT NULL OR [fkNegocio] IS NOT NULL))
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD CHECK  (([fkPersona] IS NOT NULL OR [fkNegocio] IS NOT NULL))
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD CHECK  (([fkPersona] IS NOT NULL OR [fkNegocio] IS NOT NULL))
GO
ALTER TABLE [dbo].[Contacto]  WITH CHECK ADD CHECK  (([fkPersona] IS NOT NULL OR [fkNegocio] IS NOT NULL))
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[EventoServicio]  WITH CHECK ADD CHECK  (([cantidad]>(0)))
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD CHECK  (([costo]>=(0)))
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD CHECK  (([costo]>=(0)))
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD CHECK  (([costo]>=(0)))
GO
ALTER TABLE [dbo].[Servicios]  WITH CHECK ADD CHECK  (([costo]>=(0)))
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD CHECK  (([capacidad]>(0)))
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD CHECK  (([capacidad]>(0)))
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD CHECK  (([capacidad]>(0)))
GO
ALTER TABLE [dbo].[Ubicacion]  WITH CHECK ADD CHECK  (([capacidad]>(0)))
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEvento]
    @idEvento UNIQUEIDENTIFIER,
    @nombreEvento NVARCHAR(100),
    @fecha DATE,
    @horaInicio TIME,
    @horaFin TIME,
    @descripcion NVARCHAR(MAX),
    @fkTipoEvento UNIQUEIDENTIFIER,
    @fkUbicacion UNIQUEIDENTIFIER,
    @fkNegocio UNIQUEIDENTIFIER,
    @ImagenUrl NVARCHAR(MAX) = NULL,
    @fkServicios UNIQUEIDENTIFIER = NULL -- <-- NUEVO PARÁMETRO
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    BEGIN TRY
        UPDATE Evento
        SET
            nombreEvento = @nombreEvento,
            fecha = @fecha,
            horaInicio = @horaInicio,
            horaFin = @horaFin,
            descripcion = @descripcion,
            fkTipoEvento = @fkTipoEvento,
            fkUbicacion = @fkUbicacion,
            fkNegocio = @fkNegocio,
            ImagenUrl = @ImagenUrl,
            fkServicios = @fkServicios -- <-- NUEVA COLUMNA
        WHERE idEvento = @idEvento;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarNegocio]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ActualizarNegocio]
	-- Add the parameters for the stored procedure here
	@idNegocio UNIQUEIDENTIFIER,
	@nombre nvarchar(100),
	@descripcion nvarchar(255),
	    @ImagenUrl NVARCHAR(MAX) = NULL

AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Actualizar el evento
        UPDATE Negocio
        SET
            nombre = @nombre,
            descripcion = @descripcion,
        ImagenUrl = @ImagenUrl

        WHERE
            idNegocio = @idNegocio;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarPersona]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,Editar los datos de una persona>
-- =============================================
CREATE   PROCEDURE [dbo].[ActualizarPersona] 
	-- Add the parameters for the stored procedure here
	@idPersona UNIQUEIDENTIFIER,
	@nombre NVARCHAR(100),
	@apellido NVARCHAR(100),
	@fkRol UNIQUEIDENTIFIER,
	@estado BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verificar si la persona existe
        IF NOT EXISTS (SELECT 1 FROM Persona WHERE idPersona = @idPersona)
        BEGIN
            RAISERROR('La persona con el ID especificado no existe.', 16, 1);
            RETURN;
        END
        
        -- Verificar si el rol existe
        IF NOT EXISTS (SELECT 1 FROM Rol WHERE idRol = @fkRol)
        BEGIN
            RAISERROR('El rol especificado no existe.', 16, 1);
            RETURN;
        END
        
        -- Actualizar los datos de la persona
        UPDATE Persona
        SET 
            nombre = @nombre,
            apellido = @apellido,
            fkRol = @fkRol,
            estado = @estado
        WHERE 
            idPersona = @idPersona;
        
        COMMIT TRANSACTION;
        
        -- Retornar los datos actualizados
        SELECT 
            idPersona,
            nombre,
            apellido,
            fkRol,
            estado
        FROM 
            Persona
        WHERE 
            idPersona = @idPersona;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarServicio]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[ActualizarServicio]
    @IdServicio UNIQUEIDENTIFIER,
    @nombreServicio NVARCHAR(255),
    @descripcion NVARCHAR(500),
    @costo DECIMAL(18, 2)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Actualizar el servicio
        UPDATE Servicios
        SET 
            nombreServicio = @nombreServicio,
            descripcion = @descripcion,
            costo = @costo
        WHERE 
            IdServicio = @IdServicio;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarTipoEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create PROCEDURE [dbo].[ActualizarTipoEvento]
    @idTipoEvento UNIQUEIDENTIFIER,
    @nombre NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Actualizar el tipo de evento
        UPDATE TipoEvento
        SET nombre = @nombre
        WHERE idTipoEvento = @idTipoEvento;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUbicacion]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarUbicacion]
    @idUbicacion UNIQUEIDENTIFIER,
    @nombreUbicacion NVARCHAR(100),
    @direccion NVARCHAR(MAX),
    @capacidad INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Actualizar la ubicación
        UPDATE Ubicacion
        SET 
            nombreUbicacion = @nombreUbicacion,
            direccion = @direccion,
            capacidad = @capacidad
        WHERE 
            idUbicacion = @idUbicacion;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarEvento]
    @idEvento UNIQUEIDENTIFIER,
    @nombreEvento NVARCHAR(100),
    @fecha DATE,
    @horaInicio TIME,
    @horaFin TIME,
    @descripcion NVARCHAR(MAX),
    @fkTipoEvento UNIQUEIDENTIFIER,
    @fkUbicacion UNIQUEIDENTIFIER,
    @fkNegocio UNIQUEIDENTIFIER,
    @ImagenUrl NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar el evento
        INSERT INTO Evento (
            idEvento,
            nombreEvento,
            fecha,
            horaInicio,
            horaFin,
            descripcion,
            fkTipoEvento,
            fkUbicacion,
            fkNegocio,
            ImagenUrl
        )
        VALUES (
            @idEvento,
            @nombreEvento,
            @fecha,
            @horaInicio,
            @horaFin,
            @descripcion,
            @fkTipoEvento,
            @fkUbicacion,
            @fkNegocio,
            @ImagenUrl
        );

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarNegocio]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AgregarNegocio] 
    @idNegocio UNIQUEIDENTIFIER,
    @nombre NVARCHAR(100),
    @descripcion NVARCHAR(255),
	@ImagenUrl NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        -- Validar si el rol existe

        -- Insertar el negocio solo si el rol existe
        INSERT INTO Negocio (
            idNegocio,
            nombre,
            descripcion,
			ImagenUrl
        )
        VALUES (
            @idNegocio,
            @nombre,
            @descripcion,
			@ImagenUrl
        );

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Revertir la transacción en caso de error
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarPersona]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create PROCEDURE [dbo].[AgregarPersona]
    @idPersona UNIQUEIDENTIFIER OUTPUT,
    @nombre NVARCHAR(100),
    @apellido NVARCHAR(100),
    @fkRol UNIQUEIDENTIFIER,
    @estado BIT
AS
BEGIN
    SET NOCOUNT ON;
    SET @idPersona = NEWID(); 

    BEGIN TRANSACTION;

    BEGIN TRY
       
        INSERT INTO Persona (idPersona, nombre, apellido, fkRol, estado)
        VALUES (@idPersona, @nombre, @apellido, @fkRol, @estado);

        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarServicio]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AgregarServicio]
	-- Add the parameters for the stored procedure here
	@idServicio UNIQUEIDENTIFIER,
	@nombreServicio nvarchar(100),
	@descripcion nvarchar(255),
	@costo decimal(10,2)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	INSERT INTO Servicios(idServicio, nombreServicio, descripcion, costo) values(@idServicio, @nombreServicio, @descripcion, @costo)
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarTipoEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarTipoEvento]
    @idTipoEvento UNIQUEIDENTIFIER,
    @nombre NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar el tipo de evento
        INSERT INTO TipoEvento (
            idTipoEvento,
            nombre
        )
        VALUES (
            @idTipoEvento,
            @nombre
        );

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarUbicacion]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarUbicacion]
    @idUbicacion UNIQUEIDENTIFIER,
    @nombreUbicacion NVARCHAR(100),
    @direccion NVARCHAR(MAX),
    @capacidad INT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Insertar la ubicación
        INSERT INTO Ubicacion (
            idUbicacion,
            nombreUbicacion,
            direccion,
            capacidad
        )
        VALUES (
            @idUbicacion,
            @nombreUbicacion,
            @direccion,
            @capacidad
        );

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarUsuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Autor: Jesús
-- Fecha: 10/04/2025
-- Descripción: Agrega un nuevo usuario con nombre y apellido
-- =============================================
CREATE PROCEDURE [dbo].[AgregarUsuario]
	@NombreUsuario     VARCHAR(MAX),
	@PasswordHash      VARCHAR(MAX),
	@CorreoElectronico VARCHAR(MAX),
	@Nombre            VARCHAR(50),
	@Apellido          VARCHAR(50)
AS
BEGIN
	SET NOCOUNT ON;

	DECLARE @Id AS UNIQUEIDENTIFIER = NEWID();

	BEGIN TRANSACTION;

	BEGIN TRY
		INSERT INTO [dbo].[Usuarios]
			   ([Id],
			    [NombreUsuario],
			    [PasswordHash],
			    [CorreoElectronico],
			    [Nombre],
			    [Apellido])
		VALUES
			   (@Id,
			    @NombreUsuario,
			    @PasswordHash,
			    @CorreoElectronico,
			    @Nombre,
			    @Apellido);

		INSERT INTO [dbo].[PerfilesxUsuario]
			   ([IdUsuario],
			    [IdPerfil])
		VALUES
			   (@Id,
			    1);

		SELECT @Id AS IdUsuario;

		COMMIT TRANSACTION;
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION;

		DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
		RAISERROR(@ErrorMessage, 16, 1);
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[AsignarPerfilAUsuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AsignarPerfilAUsuario]
(
    @IdUsuario UNIQUEIDENTIFIER,
    @IdPerfil INT
)
AS
BEGIN
    -- Verificar si el usuario ya tiene un perfil asignado
    IF EXISTS (SELECT 1 FROM PerfilesxUsuario WHERE IdUsuario = @IdUsuario)
    BEGIN
        -- Actualizar el perfil existente
        UPDATE PerfilesxUsuario
        SET IdPerfil = @IdPerfil
        WHERE IdUsuario = @IdUsuario;
    END
    ELSE
    BEGIN
        -- Insertar nuevo perfil si no tiene ninguno
        INSERT INTO PerfilesxUsuario (IdUsuario, IdPerfil)
        VALUES (@IdUsuario, @IdPerfil);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[Editar_Usuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Editar_Usuario] 
    @p_id UNIQUEIDENTIFIER,
    @p_nombre NVARCHAR(255),
    @p_email NVARCHAR(255),
    @p_id_perfil INT
AS
BEGIN
    UPDATE Usuarios
    SET 
        Nombre = @p_nombre,
        CorreoElectronico = @p_email,
        Id_Perfil = @p_id_perfil
    WHERE Id = @p_id;
END
GO
/****** Object:  StoredProcedure [dbo].[EditarPersona]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,Editar los datos de una persona>
-- =============================================
CREATE   PROCEDURE [dbo].[EditarPersona] 
	-- Add the parameters for the stored procedure here
	@idPersona UNIQUEIDENTIFIER,
	@nombre NVARCHAR(100),
	@apellido NVARCHAR(100),
	@fkRol UNIQUEIDENTIFIER,
	@estado BIT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verificar si la persona existe
        IF NOT EXISTS (SELECT 1 FROM Persona WHERE idPersona = @idPersona)
        BEGIN
            RAISERROR('La persona con el ID especificado no existe.', 16, 1);
            RETURN;
        END
        
        -- Verificar si el rol existe
        IF NOT EXISTS (SELECT 1 FROM Rol WHERE idRol = @fkRol)
        BEGIN
            RAISERROR('El rol especificado no existe.', 16, 1);
            RETURN;
        END
        
        -- Actualizar los datos de la persona
        UPDATE Persona
        SET 
            nombre = @nombre,
            apellido = @apellido,
            fkRol = @fkRol,
            estado = @estado
        WHERE 
            idPersona = @idPersona;
        
        COMMIT TRANSACTION;
        
        -- Retornar los datos actualizados
        SELECT 
            idPersona,
            nombre,
            apellido,
            fkRol,
            estado
        FROM 
            Persona
        WHERE 
            idPersona = @idPersona;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarEvento]
    @idEvento UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Eliminar el evento
        DELETE FROM Evento
        WHERE idEvento = @idEvento;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarNegocioPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Elimina un negocio por su ID.
-- =============================================
CREATE PROCEDURE [dbo].[EliminarNegocioPorId]
    @idNegocio UNIQUEIDENTIFIER
AS
BEGIN
    -- Evita que se devuelvan conteos adicionales de filas afectadas.
    SET NOCOUNT ON;

    BEGIN TRY
        -- Inicia una transacción para asegurar la integridad de los datos.
        BEGIN TRANSACTION;

        -- Elimina el negocio con el ID proporcionado.
        DELETE FROM Negocio
        WHERE idNegocio = @idNegocio;

        -- Confirma la transacción.
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- Si hay un error, revierte la transacción.
        ROLLBACK TRANSACTION;

        -- Lanza el error capturado.
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarPersona]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,Eliminar una persona de manera lógica o física>
-- =============================================
CREATE   PROCEDURE [dbo].[EliminarPersona]
    -- Add the parameters for the stored procedure here
    @idPersona UNIQUEIDENTIFIER,
    @eliminacionLogica BIT = 1 -- 1 para eliminación lógica (cambiar estado), 0 para física
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verificar si la persona existe
        IF NOT EXISTS (SELECT 1 FROM Persona WHERE idPersona = @idPersona)
        BEGIN
            RAISERROR('La persona con el ID especificado no existe.', 16, 1);
            RETURN;
        END
        
        -- Eliminación lógica (cambiar estado a 0/falso)
        IF @eliminacionLogica = 1
        BEGIN
            UPDATE Persona
            SET estado = 0
            WHERE idPersona = @idPersona;
            
            SELECT 'Eliminación lógica realizada correctamente.' AS Resultado;
        END
        ELSE
        BEGIN
            -- Eliminación física (borrar registro)
            DELETE FROM Persona
            WHERE idPersona = @idPersona;
            
            SELECT 'Eliminación física realizada correctamente.' AS Resultado;
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarServicio]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[EliminarServicio]
    @IdServicio UNIQUEIDENTIFIER
AS
BEGIN
    -- Verificamos si el servicio existe
    IF EXISTS (SELECT 1 FROM Servicios WHERE IdServicio = @IdServicio)
    BEGIN
        -- Eliminamos el servicio
        DELETE FROM Servicios WHERE IdServicio = @IdServicio;
        
        -- Podemos retornar el Id del servicio eliminado como confirmación
        SELECT @IdServicio AS IdServicioEliminado;
    END
    ELSE
    BEGIN
        -- Si no existe, lanzamos un error
        RAISERROR('El servicio con el Id especificado no existe.', 16, 1);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[EliminarTipoEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarTipoEvento]
    @idTipoEvento UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Eliminar el tipo de evento
        DELETE FROM TipoEvento
        WHERE idTipoEvento = @idTipoEvento;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUbicacion]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[EliminarUbicacion]
    @idUbicacion UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    BEGIN TRY
        -- Eliminar la ubicación
        DELETE FROM Ubicacion
        WHERE idUbicacion = @idUbicacion;

        -- Confirmar la transacción
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        -- En caso de error, revertir la transacción
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[EliminarUsuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarUsuario]
    @Id UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Validar que el usuario exista
        IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE Id = @Id)
        BEGIN
            RAISERROR('El usuario no existe.', 16, 1);
            RETURN;
        END

        -- Eliminar referencias (si las hay)
        DELETE FROM PerfilesxUsuario WHERE IdUsuario = @Id;

        -- Eliminar usuario
        DELETE FROM Usuarios WHERE Id = @Id;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT 
            @ErrMsg = ERROR_MESSAGE(), 
            @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEventoPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEventoPorId]
    @idEvento UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener el evento con detalles de TipoEvento y Ubicacion
    SELECT
        e.idEvento,
        e.nombreEvento,
        e.fecha,
        e.horaInicio,
        e.horaFin,
        e.descripcion,
		e.ImagenUrl,
        te.nombre AS TipoEvento,
        u.nombreUbicacion AS Ubicacion,
				n.nombre AS Negocio

    FROM
        Evento e
        INNER JOIN TipoEvento te ON e.fkTipoEvento = te.idTipoEvento
        INNER JOIN Ubicacion u ON e.fkUbicacion = u.idUbicacion
		INNER JOIN Negocio n ON e.fkNegocio = n.idNegocio

    WHERE
        e.idEvento = @idEvento;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerEventoRegistradoPorID]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerEventoRegistradoPorID]
    @idEventoRegistrado UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        er.idEventoRegistrado,
        er.idUsuario,
        er.idEvento,
        er.qr,
        e.nombreEvento,
        e.fecha,
        e.horaInicio,
        e.horaFin,
        e.descripcion,
        u.Nombre + ' ' + u.Apellido AS nombreUsuario,
        ub.nombreUbicacion AS nombreUbicacion
    FROM 
        EventoRegistrado er
    INNER JOIN Evento e ON er.idEvento = e.idEvento
    INNER JOIN Usuarios u ON er.idUsuario = u.Id
    INNER JOIN Ubicacion ub ON e.fkUbicacion = ub.idUbicacion
    WHERE 
        er.idEventoRegistrado = @idEventoRegistrado;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerNegocioPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	Obtiene un negocio por su ID.
-- =============================================
CREATE PROCEDURE  [dbo].[ObtenerNegocioPorId]
    @idNegocio UNIQUEIDENTIFIER
AS
BEGIN
    -- Evita que se devuelvan conteos adicionales de filas afectadas.
    SET NOCOUNT ON;

    -- Selecciona los datos del negocio junto con la descripción del rol.
    SELECT 
        n.idNegocio,
        n.nombre,
        n.descripcion AS descripcionNegocio ,
		n.ImagenUrl-- Descripción del negocio
    FROM 
        Negocio n
    WHERE
        n.idNegocio = @idNegocio; -- Filtra por el ID del negocio
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPerfiles]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ObtenerPerfiles]
AS
BEGIN
    SELECT Id, Nombre
    FROM Perfiles
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPerfilesxUsuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerPerfilesxUsuario]
	-- Add the parameters for the stored procedure here
@NombreUsuario VARCHAR(MAX),
@CorreoElectronico VARCHAR(MAX)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

SELECT        Perfiles.Id, Perfiles.Nombre
FROM            Perfiles INNER JOIN
                         PerfilesxUsuario ON Perfiles.Id = PerfilesxUsuario.IdPerfil INNER JOIN
                         Usuarios ON PerfilesxUsuario.IdUsuario = Usuarios.Id
WHERE        (Usuarios.NombreUsuario = @Nombreusuario) OR (Usuarios.CorreoElectronico = @CorreoElectronico)

END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPersonaPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,Obtener una persona por su ID>
-- =================================================
CREATE   PROCEDURE [dbo].[ObtenerPersonaPorId]
    -- Add the parameters for the stored procedure here
    @idPersona UNIQUEIDENTIFIER
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    BEGIN TRY
        -- Obtener la persona por ID
        SELECT 
            idPersona,
            nombre,
            apellido,
            fkRol,
            estado
        FROM 
            Persona
        WHERE 
            idPersona = @idPersona;
        
        -- Verificar si se encontró el registro
        IF @@ROWCOUNT = 0
        BEGIN
            RAISERROR('No se encontró la persona con el ID especificado.', 16, 1);
        END
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerPersonas]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =================================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,Obtener todas las personas activas>
-- =================================================
CREATE   PROCEDURE [dbo].[ObtenerPersonas]
AS
BEGIN
    -- SET NOCOUNT ON added to prevent extra result sets from
    -- interfering with SELECT statements.
    SET NOCOUNT ON;

    BEGIN TRY
        -- Obtener todas las personas con estado activo (1)
        SELECT 
            idPersona,
            nombre,
            apellido,
            fkRol,
            estado
        FROM 
            Persona
        WHERE 
            estado = 1
        ORDER BY 
            apellido, nombre;
    END TRY
    BEGIN CATCH
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerRegistrosPorUsuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerRegistrosPorUsuario]
    @idUsuario UNIQUEIDENTIFIER
AS
BEGIN
    SELECT 
        er.idEventoRegistrado,
        e.nombreEvento,
        e.fecha,
        e.horaInicio,
        e.horaFin,
        ub.nombreUbicacion AS ubicacion,
        er.qr
    FROM 
        EventoRegistrado er
    INNER JOIN Evento e ON er.idEvento = e.idEvento
    INNER JOIN Ubicacion ub ON e.fkUbicacion = ub.idUbicacion
    WHERE 
        er.idUsuario = @idUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerServicioPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerServicioPorId]
    @IdServicio UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        -- Consultar los datos del servicio con el ID proporcionado
        SELECT 
            IdServicio, 
            nombreServicio, 
            descripcion, 
            costo
        FROM 
            Servicios
        WHERE 
            IdServicio = @IdServicio;

        -- Si no se encuentra el servicio, puedes lanzar un error
        IF NOT EXISTS (SELECT 1 FROM Servicios WHERE IdServicio = @IdServicio)
        BEGIN
            RAISERROR('El servicio con el ID especificado no existe.', 16, 1);
            RETURN;
        END
    END TRY
    BEGIN CATCH
        -- Si ocurre un error, lo manejamos aquí
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();

        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTipoEventoPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTipoEventoPorId]
    @idTipoEvento UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener el tipo de evento por su ID
    SELECT
        idTipoEvento,
        nombre
    FROM
        TipoEvento
    WHERE
        idTipoEvento = @idTipoEvento;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodasUbicaciones]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodasUbicaciones]
AS
BEGIN
    -- Evita que se devuelvan conteos adicionales de filas afectadas.
    SET NOCOUNT ON;

    -- Selecciona todas las ubicaciones
    SELECT 
        idUbicacion,
        nombreUbicacion,
        direccion,
        capacidad
    FROM 
        Ubicacion;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosEventos]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosEventos]
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener todos los eventos con detalles de TipoEvento y Ubicacion
    SELECT
        e.idEvento,
        e.nombreEvento,
        e.fecha,
        e.horaInicio,
        e.horaFin,
        e.descripcion,
		e.ImagenUrl,
        te.nombre AS TipoEvento,
        u.nombreUbicacion AS Ubicacion,
		n.nombre AS Negocio

    FROM
        Evento e
        INNER JOIN TipoEvento te ON e.fkTipoEvento = te.idTipoEvento
        INNER JOIN Ubicacion u ON e.fkUbicacion = u.idUbicacion
		INNER JOIN Negocio n ON e.fkNegocio = n.idNegocio

END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosEventosRegistrados]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosLosEventosRegistrados]
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        er.idEventoRegistrado,
        er.idUsuario,
        er.idEvento,
        er.qr,
        e.nombreEvento,
        e.fecha,
        e.horaInicio,
        e.horaFin,
        e.descripcion,
        u.Nombre + ' ' + u.Apellido AS nombreUsuario,
        ub.nombreUbicacion AS nombreUbicacion
    FROM 
        EventoRegistrado er
    INNER JOIN 
        Evento e ON er.idEvento = e.idEvento
    INNER JOIN 
        Usuarios u ON er.idUsuario = u.Id
    INNER JOIN
        Ubicacion ub ON e.fkUbicacion = ub.idUbicacion;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosUsuarios]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jesús
-- Create date: 10/04/2025
-- Description:	Obtiene todos los datos de los usuarios
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerTodosLosUsuarios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        Id,
        NombreUsuario,
        PasswordHash,
        CorreoElectronico,
        Nombre,
        Apellido,
        FechaCreacion,
        FechaModificacion,
        UsuarioCrea,
        UsuarioModifica
    FROM Usuarios
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosNegocios]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE  [dbo].[ObtenerTodosNegocios]
AS
BEGIN
    -- Evita que se devuelvan conteos adicionales de filas afectadas.
    SET NOCOUNT ON;

    -- Selecciona los datos de los negocios junto con la descripción del rol.
    SELECT 
        n.idNegocio,
        n.nombre,
        n.descripcion,
		n.ImagenUrl-- Descripción del negocio
    FROM 
        Negocio n
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosServicios]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		TuNombre
-- Create date: 2025-04-07
-- Description:	Obtiene todos los servicios
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerTodosServicios]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        IdServicio,
        nombreServicio,
        descripcion,
        costo
    FROM Servicios;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosTiposEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosTiposEvento]
AS
BEGIN
    -- Evita que se devuelvan conteos adicionales de filas afectadas.
    SET NOCOUNT ON;

    -- Selecciona todos los tipos de evento
    SELECT 
        idTipoEvento,
        nombre
    FROM 
        TipoEvento;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUbicacionPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerUbicacionPorId]
    @idUbicacion UNIQUEIDENTIFIER
AS
BEGIN
    SET NOCOUNT ON;

    -- Obtener la ubicación por su ID
    SELECT
        idUbicacion,
        nombreUbicacion,
        direccion,
        capacidad
    FROM
        Ubicacion
    WHERE
        idUbicacion = @idUbicacion;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuario]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Jesús
-- Create date: 10/04/2025
-- Description:	Obtiene un usuario por nombre de usuario o correo electrónico, incluyendo nombre y apellido
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerUsuario]
	@NombreUsuario VARCHAR(MAX),
	@CorreoElectronico VARCHAR(MAX)
AS
BEGIN
	SET NOCOUNT ON;

	SELECT
		Id,
		NombreUsuario,
		PasswordHash,
		CorreoElectronico,
		Nombre,
		Apellido,
		FechaCreacion,
		FechaModificacion,
		UsuarioCrea,
		UsuarioModifica
	FROM Usuarios
	WHERE NombreUsuario = @NombreUsuario
	   OR CorreoElectronico = @CorreoElectronico
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUsuarioPorId]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Jesús
-- Create date: 10/04/2025
-- Description: Obtener un usuario por su Id
-- =============================================
CREATE PROCEDURE [dbo].[ObtenerUsuarioPorId]
	@Id UNIQUEIDENTIFIER
AS
BEGIN
	SET NOCOUNT ON;

	SELECT 
		Id, 
		NombreUsuario, 
		PasswordHash, 
		CorreoElectronico, 
		FechaCreacion, 
		FechaModificacion, 
		UsuarioCrea, 
		UsuarioModifica, 
		Nombre, 
		Apellido
	FROM 
		Usuarios
	WHERE 
		Id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarUsuarioAEvento]    Script Date: 3/25/2026 5:12:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarUsuarioAEvento]
    @idEventoRegistrado UNIQUEIDENTIFIER,
    @idEvento UNIQUEIDENTIFIER,
    @idUsuario UNIQUEIDENTIFIER,
    @qr NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Verificar si el usuario ya está registrado en el evento
        IF NOT EXISTS (SELECT 1 FROM EventoRegistrado 
                      WHERE idEvento = @idEvento AND idUsuario = @idUsuario)
        BEGIN
            -- Insertar nuevo registro
            INSERT INTO EventoRegistrado (idEventoRegistrado, idEvento, idUsuario, qr)
            VALUES (@idEventoRegistrado, @idEvento, @idUsuario, @qr);
            
            COMMIT TRANSACTION;
            SELECT @idEventoRegistrado AS idEventoRegistrado;
        END
        ELSE
        BEGIN
            -- Usuario ya registrado, devolver el ID existente
            SELECT idEventoRegistrado FROM EventoRegistrado 
            WHERE idEvento = @idEvento AND idUsuario = @idUsuario;
        END
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
USE [master]
GO
